body, html {
	background: #000;
	background-image: url(../img/bgImage_space.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#game {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
@font-face {
    font-family: 'nasalizationf';
    src: url('fonts/nasalization-rg-webfont.woff2') format('woff2'),
         url('fonts/nasalization-rg-webfont.woff') format('woff');

}
